.bigmenu {
  background: black;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.title {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;

& h4 {
  color: var(--main-reverse-color);
  display: block;
  padding-bottom: 0.5rem;
  margin-right: 24px;
  width: 100%;
  border-bottom: 2px solid var(--main-accent-color);
  font-weight: 500;
}

& button {
  top: 4px;

}

}
ul.navgrouplist {
  margin:0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  & li {
    display: block;
  }
}

