div.navgroup {
  padding: 0;
  margin: 0;
  display: flex;
  width: max-content;
  flex-direction: column;
}

h4.title {
  margin: 0;
  color: var(--main-reverse-accent-color);
  padding: 0 0 1rem 0;
}

ul.linklist {
  list-style: none;
  margin: 0;
  padding: 0;

  & li {
    margin: 0;
    padding: 0;

    & a {
      display: block;
      text-decoration: none;
      font-weight: 100;
      color: var(--main-reverse-color);
      &:hover {
        background: var(--main-accent-color);
      }
      width: max-content;
    }
  }
}
