.main ul {
  color: var(--main-accent-color);
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  & li {
    color: var(--main-accent-color);
    margin: 0;
    padding: 0;

    & a {
      display: block;
      color: currentColor;
      text-decoration: none;
      font-weight: lighter;
      font-size: 1.2em;
      padding: 0.25rem 0.5rem;
      border-bottom: 2px solid transparent;

      &:not([href]) {
        cursor: pointer;
      }

      &:hover {
        border-bottom: 2px solid currentColor;
      }
    }
  }
}

.main li.active a {
  border-bottom: 2px solid currentColor;
}

.secondary > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  & li {
    margin:0;
    padding:0;
  }
}

li.hidden {
  height: 0;
  display: none;
}
